<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<script>
    function createCommentOnSubmit() {
        const kyokuId = $.trim($("#kyokuIdInput").val());
        const authorName = $.trim($("#authorNameInput").val());
        const commentBody = $.trim($("#commentBodyInput").val());

        const data = {
            kyoku_id: Number(kyokuId),
            author_name: authorName,
            body: commentBody
        }

        fetch('/api/comments', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                $("#commentCreateSuccessModal").modal('show');
            })
            .catch((error) => {
                console.error('Error:', error);
                $("#commentCreateFailedModal").modal('show');
            });
    }

    async function increaseReputationPoints(commentId) {
        const data = {};
        fetch('/api/comments/increment-reputation/'+commentId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((reputation) => {
                console.log('Success:', reputation);
                let currPoints = Number($("#ReputationPoints" + String(commentId)).text());
                $("#ReputationPoints" + String(commentId)).text(String(currPoints + 1));
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function refreshPage() {
        location.reload();
    }
</script>

<body>
    <div id="commentCreateSuccessModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Comment Creation Successful!</h5>
                    <button type="button" class="close" onclick="refreshPage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>New Comment is successfully created!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="refreshPage()">OK!</button>
                </div>
            </div>
        </div>
    </div>

    <div id="commentCreateFailedModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Comment Creation Failed!</h5>
                    <button type="button" class="close" onclick="refreshPage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>New Comment creation failed. Please make sure all fields are properly filled out.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="refreshPage()">OK!</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="position-absolute start-50 translate-middle-x">Kyoku information</h1>
    <section class="py-5 text-center">
        <div class="container">
            <h3>
                <%= kyoku.artist.name %>
            </h3>
            <p class="lead text-muted">
                <%= kyoku.title %>
            </p>
        </div>
    </section>

    <h2 class="position-absolute start-50 translate-middle-x">Comments</h2>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <% comments.sort((a, b) => b.reputation.points - a.reputation.points).forEach( comment => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow text-bg-info">
                        <!-- <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap"> -->
                            <div class="card-body">
                                <h3 class="card-text"><%= comment.body %></h3>
                                <p class="card-text">by <%= comment.author.name %><span> <span onclick="increaseReputationPoints('<%= comment.id %>')">💟</span>: <span id="ReputationPoints<%= comment.id %>"><%= comment.reputation.points %></span></span></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <!-- Kyoku Id is auto-filled and readonly -->
        <div class="mb-3 mx-auto w-50">
            <label for="kyokuIdInput" class="form-label">Kyoku Id</label>
            <input type="number" class="form-control" id="kyokuIdInput" value="<%= kyoku.id %>" readonly />
        </div>
        <div class="mb-3 mx-auto w-50">
            <label for="authorNameInput" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="authorNameInput" />
        </div>
        <div class="mb-3 mx-auto w-50">
            <label for="commentBodyInput" class="form-label">Comment Body</label>
            <input type="text" class="form-control" id="commentBodyInput" />
        </div>
        <div class="mb-3 mx-auto text-center">
            <button type="button" class="btn btn-primary mb-3" onclick="createCommentOnSubmit()" >Create new Comment</button>
        </div>
    </div>

</body>
</html>